body {
    background-color: #e6e6fa; /* Light purple background color */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#box {
    background-color: #fff;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#box form {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#box form label {
    font-size: 20px;
    margin: 10px;
}

#box form input[type="text"],
#box form input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#box form input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #fff; /* White button background color */
    color: #000; /* Black button text color */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

#box form input[type="submit"]:hover {
    background-color: #ccc; /* Light gray button background on hover */
}

#box form button.signup-button {
    display: block;
    margin-top: 10px;
    padding: 10px;
    background-color: #fff; /* White button background color */
    color: #000; /* Black button text color */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

#box form button.signup-button:hover {
    background-color: #ccc; /* Light gray button background on hover */
}

p.error-message {
    color: red;
    margin-top: 5px;
}
