/* payment.css */

body {
    background-color: #E6E6FA; /* Light purple */
}

center {
    margin-top: 50px;
}

h1, h2 {
    color: #000080; /* Dark blue */
}

#paymentForm {
    margin-top: 30px;
}

#paymentForm input[type="radio"] {
    margin-right: 10px;
}

#accountNumberBox {
    margin-top: 10px;
    display: none;
}

#accountNumber {
    padding: 5px;
}

#payButton {
    margin-top: 10px;
    background-color: #008080; /* Teal */
    color: #fff; /* White */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#payButton:hover {
    background-color: #006666; /* Dark teal */
}

#paymentStatus {
    margin-top: 20px;
    color: #008000; /* Green */
    font-weight: bold;
    display: none;
}
